<h1>{{fat}}</h1>
<p>Welcome to {{fat}}</p>

<form action="/user" method="post">
    <input type="text" name="name" id="name" placeholder="your username">
    <input type="password" name="pass" id="pass" placeholder="your password">
    <input type="submit" value="Sign Up">
</form>
