<h1>{{fat}}</h1>
<p>Welcome to {{fat}}</p>

<form>
    <input type="text" name="name" id="name" placeholder="your username">
    <input type="text" name="pass" id="pass" placeholder="your password">
    <button id="SignUpBtn" type="submit"> Sign Up </button>
</form>
